



.wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 30px;
}
.box{
    width: 30%;
    height: 300px;
    img{width: 70%;padding-left:  15%;}
    h2{
        padding: 10px;
        font-size: 1.3rem;
        text-align: center;
    }

    @media @phone{width: 40%;}
}

.text{
    font-size: 1rem;
  h1{
      @media @phone{width: 77%;
 text-align: center;   }
}
 
}

h3{

    text-align: center;
}

.top .left{
    width: 50%;
    padding-top: 50px;

}

.dot {
    .dots();
      }
      .line{display: flex;}