body{
    font-family: @font ;
    font-size: .9rem; 
    line-height: 1.4;
    }


.container{

}
.wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 30px;
}
.box{
    width: 30%;
    height: 300px;
    img{width: 70%;padding-left:  15%;}
    h2{
        padding: 10px;
        font-size: 1.3rem;
        text-align: center;
    }

    @media @phone{width: 40%;}
}

.bottom-text{
    
  h1{
      @media @phone{width: 77%;
 text-align: center;   }
}
 
}

h3{

    text-align: center;
}

.top .left{
    width: 50%;
    padding-top: 50px;

}
#topbottom{    flex-direction: row-reverse;
    @media @phone{flex-direction: column; width: 90%;}
    .left{@media @phone{margin: 40px;}}
    img{margin: 20px;}
    h2{font-size: 2rem;}
}
#biggertext{font-size: 1.1rem;}
.bottom-text{font-size: 1rem;}