*{
   
    font-family: @font ;
    font-size: 64.5%; 
    line-height: 1.4;
}

body{
    font-family: @font ;
    line-height: 1.4;
    font-size: .9rem;
    color: white;
    background-image:url('https://images.unsplash.com/photo-1550684656-77baedef4775?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80')
    }
    
    .container{
        max-width: 1000px;
        width:90%;
        margin: 0 auto;  
        @media @tablet{
            width: 90%;
        }
        @media @phone{
            width: 90%;
        }
    
    }