




.top{
    display: flex;
    @media @phone{
flex-direction: column;
width: 100%;
    } 


img{
   width: 40%;
    padding: 30px;
 
    @media @phone{width: 90%;padding: 0 0 20px 25px;
    }
}

}
  h1{padding: 20px;
width: 50%;
font-size: 2rem;
@media @phone{width: 90%;
text-align: center;

}
}

text{
    @media @phone{width: 100%;} 
    padding: 20px;
 
}
p{
    padding: 10px;
}


#topbottom{    flex-direction: row-reverse;
    @media @tablet{
        flex-direction: column; width: 90%;
    }

    @media @phone{flex-direction: column; width: 90%;}
    .left{@media @phone{margin: 40px;} @media @tablet{margin: 30px;}}
    img{margin: 20px;}
    h2{font-size: 2rem;}

}
#biggertext{font-size: 1.1rem;
img{
    width: 300px;
}
}
.sideby{display: flex;width: 90%;justify-content: space-between;
    @media @tablet{width: 200%;}
}